.toolbar {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;

  img {
    margin: 0 16px;
  }
  .spacer {
    flex: auto;
  }
  #twitter-logo {
    height: 40px;
    margin: 0 8px;
  }

  #youtube-logo {
    height: 40px;
    margin: 0 16px;
  }

  #twitter-logo,
  #youtube-logo {
    &:hover {
      opacity: 0.8;
    }
  }
}
